.footer-container{
    background-color: #222;
    margin-top: 3rem;
    padding: 5rem 0;

}
.footer-container h2{
    color: #fff;
}

.footer-container p{
    color: #fff;
    padding-top: 2rem;
    font-size: 0.8rem;
}
.footer-form{
    padding-top: 3rem;
    width: 40%;
}

.form-group{
    padding: 1rem 0;
}
.form-label{
    display: inline-block;
    color: #fff;
    padding-bottom: 10px;
}

.form-input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}


.form-submit{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: orange;
    padding: 0.8rem 2rem;
}
.form-submit:hover{
    background-color: #fff;
    color: #333;
    transition: 0.2s ease-in;
}